<table>
  <!-- <tr>
    <td>
      <ngx-charts-line-chart
        [results]="dataSeries"
        [view]="view"
        [gradient]="gradient"
        [legend]="legend"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legend]="legend"
        [animations]="animations"
        [timeline]="timeline"
        [animations]="animations"
        [autoScale]="autoScale"
        [showGridLines]="showGridLines"
        [tooltipDisabled]="tooltipDisabled"
        [showRefLines]="showRefLines"
        [showRefLabels]="showRefLabels"
      >
      </ngx-charts-line-chart>
    </td>
  </tr> -->
  <tr>
    <td>
      <ngx-charts-bar-vertical
        [results]="data"
        [view]="view"
        [gradient]="gradient"
        [legend]="legend"
        [legendPosition]="legendPosition"
        [tooltipDisabled]="tooltipDisabled"
        [view]="view"
        [gradient]="gradient"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legend]="legend"
        [animations]="animations"
        [animations]="animations"
        [showGridLines]="showGridLines"
        [tooltipDisabled]="tooltipDisabled"
        [schemeType]="schemeType"
      >
      </ngx-charts-bar-vertical>
    </td>
  </tr>
</table>
