<table>
  <tr>
    <td>
      <ngx-charts-line-chart
        [results]="data"
        [view]="view"
        [gradient]="gradient"
        [legend]="legend"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legend]="legend"
        [animations]="animations"
        [timeline]="timeline"
        [animations]="animations"
        [autoScale]="autoScale"
        [showGridLines]="showGridLines"
        [tooltipDisabled]="tooltipDisabled"
        [showRefLines]="showRefLines"
        [showRefLabels]="showRefLabels"
      >
      </ngx-charts-line-chart>
    </td>
  </tr>
  <!-- <tr>
    <td>
      <ngx-charts-bar-vertical
        [results]="data"
        [view]="view"
        [gradient]="gradient"
        [legend]="legend"
        [legendPosition]="legendPosition"
        [tooltipDisabled]="tooltipDisabled"
        [view]="view"
        [gradient]="gradient"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legend]="legend"
        [animations]="animations"
        [animations]="animations"
        [showGridLines]="showGridLines"
        [tooltipDisabled]="tooltipDisabled"
        [schemeType]="schemeType"
      >
        <ng-template #tooltipTemplate let-model="model">
          {{ model.name }} <br />
          🏅 {{ model.value }}
        </ng-template>
      </ngx-charts-bar-vertical>

    </td>
  </tr> -->
</table>

<div >
  <ngx-charts-line-chart [results]="data" [legend]="false" [showXAxisLabel]="true" xAxisLabel="Dates" 
      [xAxis]="true" [yAxis]="true" [animations]="false">
  </ngx-charts-line-chart>
</div>