<table>
  <tr>
    <td>
      <ngx-charts-pie-chart
        [results]="dataList"
        [view]="view"
        [gradient]="gradient"
        [legend]="legend"
        [explodeSlices]="explodeSlices"
        [arcWidth]="arcWidth"
        [tooltipDisabled]="tooltipDisabled"
        [labels]="labels"
        [doughnut]="doughnut"
        (select)="onSelect($event)"
      >
        <ng-template #tooltipTemplate let-model="model">
          {{ model.name }} <br />
          🏅 {{ model.value }}
        </ng-template>
      </ngx-charts-pie-chart>
    </td>
  </tr>
</table>
