<div class="country">
  <h2>{{ (olympic$ | async)?.country }}</h2>
  <p>ID: {{ (olympic$ | async)?.id }}</p>
  <div class="participations">
    <h3>Participations :</h3>
    <ul>
      <li *ngFor="let participation of (olympic$ | async)?.participations">
        Année: {{ participation.year }}, Ville: {{ participation.city }},
        Médailles: {{ participation.medalsCount }}, Athlètes:
        {{ participation.athleteCount }}
      </li>
      <li *ngFor="let medalInfo of nbMedalsPerYear$ | async">
        {{ medalInfo.name }}: {{ medalInfo.value }} médailles
      </li>
    </ul>
  </div>
</div>
