<!-- <div class="country">
  <h2>{{ (olympic$ | async)?.country }}</h2>
  <p>ID: {{ (olympic$ | async)?.id }}</p>
  <div class="participations">
    <h3>Participations :</h3>
    <ul>
      <li *ngFor="let participation of (olympic$ | async)?.participations">
        Année: {{ participation.year }}, Ville: {{ participation.city }},
        Médailles: {{ participation.medalsCount }}, Athlètes:
        {{ participation.athleteCount }}
      </li>
      <li *ngFor="let medalInfo of nbMedalsPerYear$ | async">
        {{ medalInfo.name }}: {{ medalInfo.value }} médailles
      </li>
    </ul>
  </div>
</div> -->

<!-- <ng-container *ngIf="nbMedalsPerYear$ | async as nbMedalsPerYear">
  <app-line-chart
    [countryName]="countryName"
    [data]="nbMedalsPerYear"
  ></app-line-chart>
</ng-container> -->

<div class="container">
  <div class="row justify-content-center text-center py-2">
    <div class="col-12">
      <div class="myTitle d-inline-block mx-auto py-1 px-2 rounded">
        <h2>Medals per Country</h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col-12">
      <div class="mySubTitle d-inline-block mx-auto px-2 rounded">
        <a routerLink="">Back</a>
      </div>
    </div>
  </div>
  <div class="row text-center py-2">
    <div class="col-4">
      <div class="mySubTitle d-inline-block mx-auto px-2 rounded">
        <h6 class="text-secondary py-1">Number of JOs</h6>
        <h4 class="text-dark">5</h4>
      </div>
    </div>
    <div class="col-4">
      <div class="mySubTitle d-inline-block mx-auto px-2 rounded">
        <h6 class="text-secondary py-1">Number of countries</h6>
        <h4 class="text-dark">6</h4>
      </div>
    </div>
    <div class="col-4">
      <div class="mySubTitle d-inline-block mx-auto px-2 rounded">
        <h6 class="text-secondary py-1">Number of countries</h6>
        <h4 class="text-dark">3</h4>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="text-center">
      <div class="d-inline-block mx-auto px-2 custom-background rounded">
        <ng-container *ngIf="nbMedalsPerYear$ | async as nbMedalsPerYear">
          <app-line-chart
            [countryName]="countryName"
            [data]="nbMedalsPerYear"
          ></app-line-chart>
        </ng-container>
      </div>
    </div>
  </div>
</div>
