<div class="country">
  <h2>{{ olympic.country }}</h2>
  <p>ID: {{ olympic.id }}</p>
  <div class="participations">
    <h3>Participations :</h3>
    <ul>
      <li *ngFor="let participation of olympic.participations">
        Année: {{ participation.year }}, Ville: {{ participation.city }},
        Médailles: {{ participation.medalsCount }}, Athlètes:
        {{ participation.athleteCount }}
      </li>
      <li *ngFor="let medalInfo of nbMedalsPerYear$ | async">
        {{ medalInfo.year }}: {{ medalInfo.medalsCount }} médailles
      </li>
    </ul>
  </div>
</div>
