.myTitle {
  background-color: #04838f;
  color: white;
  background-size: cover;
}
.mySubTitle {
  background-color: white;
  color: #04838f;
  background-size: cover;
  border-color: #04838f;
  border: 2px solid;
}
