<h2>Olympic games app</h2>
<hr />
<ng-container *ngIf="nbMedalsPerCountry$ | async as nbMedalsPerCountry">
  <app-pie-chart [dataList]="nbMedalsPerCountry"></app-pie-chart>
</ng-container>
<p>{{ (olympics$ | async)?.length }} data loaded</p>
<p>list of countries :{{ (listOfCountries$ | async)?.length }}</p>
<app-country
  *ngFor="let thisCountry of olympics$ | async"
  [olympic]="thisCountry"
></app-country>
<ul>
  <li *ngFor="let medalsperCountry of nbMedalsPerCountry$ | async">
    {{ medalsperCountry.name }}: {{ medalsperCountry.value }} medals
  </li>
</ul>
